<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Text Converter</title>
</head>
<body>
<h1>Please Enter the Text below</h1>
<form action="/analyze" method="get">
    <textarea name="text" style="width: 1603px; height: 161px;"></textarea>
    <br>
    <input type="checkbox" name="removepunc"> Remove Punctuation </input> <br>
    <input type="checkbox" name="capfirst"> Capitalize First </input> <br>
    <input type="checkbox" name="lineremove"> New Line First </input> <br>
    <input type="checkbox" name="spaceremove"> Space Remove </input> <br>
    <input type="checkbox" name="charcount"> Char Count </input> <br>
    <button type="submit">submit</button>
</form>
</body>
</html>